<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>ojala funcione a la primerass</title>
        <link rel="stylesheet" href="css1.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/styles.css">
        <script src="https://kit.fontawesome.com/4d4041795c.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark"> 
            <div class="container">
                    <h1 class="white">Bienvenidos a la aplicacion de futbol</h1>
    
            </div>
        </nav>
        <div class="container p-4">
            <div class="row">
                <div >
                    <p>Aqui podra saber mas informacion sobre los ultimos partidos realizados, el desempeño de los jugadores y hacer apustas al equipo que desee</p>

                    <a href="/views/apuestas.html">click aqui para ir a puestas</a>
                    <a href="partidos.html">click aqui para ir a partidos</a>
                </div>
            </div>
            
            
        </div>        
    </body>
</html>
